@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

html, body {
  @apply bg-gray-100 h-screen w-screen m-0 p-0;
}

#root {
  @apply  h-full w-full flex flex-col pb-16;
}

.main {
  @apply flex flex-row justify-between h-full p-2;

  .sider {
    @apply w-1/3 flex flex-col mr-8 h-full;

    .calendar-panel {
      @apply flex justify-between;

      .panel {
        @apply w-full;
      }

      .movement-info {
        @apply ml-5;
      }
    }

    .voyage-list {
      @apply mt-5;
    }
  }

  .content {
    @apply flex-1;
  }
}

.panel {
  @apply border-solid border border-gray-200;

  &__header {
    @apply px-4 py-2 bg-gray-200;
  }

  &__body {
    @apply bg-white shadow-md px-3 py-2 rounded overflow-y-auto;
  }

  &--full {
    @apply h-full flex flex-col  overflow-y-auto;

    .panel__body {
      @apply m-0 flex-1 h-full ;
    }
  }
}


.form-field {
  @apply mb-4;

  label {
    @apply block text-gray-700 text-sm font-bold mb-2;
  }

  .select {
    @apply inline-block relative w-64;
  }

  input, select {
    @apply shadow appearance-none border rounded w-full py-1 px-2 text-gray-700 leading-tight;
  }

  select {
    @apply block;
  }

  .select-handler {
    @apply pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700;

    svg {
      @apply fill-current h-4 w-4;
    }
  }
}

.clock {
  @apply px-4 py-2 rounded text-3xl bg-yellow-500 text-center font-semibold;
}

.tag {
  @apply rounded text-xs p-1 inline text-gray-800;

  &--success {
    @apply bg-green-200;
  }
}

nav {
  @apply bg-gray-300 py-2 px-2;

  .main-menu {
    > ul {
      @apply flex justify-around;

      > li {
        @apply mr-6  w-1/4 text-center relative;

        a {
          @apply text-blue-800 bg-gray-100 rounded block py-2 px-5 w-full;
        }

        &:hover {
          > a {
          @apply bg-gray-200;

          }
         ul {
           @apply block;

         }
        }

        ul {
          @apply hidden absolute w-full z-10 pt-1;


          li {
            @apply w-full mt-2;

            a {
              @apply block rounded text-blue-800 bg-gray-200 border-2 border-gray-300;

              &:hover {
                @apply bg-gray-100;
              }
            }
          }
        }
      }
    }
  }
}

.voyage {
  &-list {
    @apply  h-full;
  }
  &-list-wrapper {
    @apply flex flex-col;
  }

  &-list-item {
    @apply mb-2 px-2 py-2 flex flex-row justify-between rounded;

    &__column {
      @apply flex flex-col mx-3;
    }

    &__properties {
      @apply mt-2 flex justify-start w-full;

      &__icon {
        @apply text-gray-900 w-6 h-6 bg-blue-200 rounded-full text-center flex justify-center items-center mr-1;
        i {
          @apply text-xs;
        }
      }
    }

    &__info {
      @apply flex flex-col justify-center align-middle items-center;
      &__item:last-child {
        @apply mt-2;
      }
    }

    &__id {
      @apply text-xs text-center;
    }

    &__time {
      @apply text-xl text-center font-semibold;
    }


    &--success {
      @apply bg-green-700 text-white;

      .voyage-list-item__properties__icon {
        @apply bg-green-200  border-2 border-green-500;
      }

      .voyage-list-item__time {
        @apply text-gray-300;
      }
    }

    &--warning {
      @apply bg-yellow-500 text-white;
    }

    &--default {
      @apply bg-white text-white;
    }

    &--error {
      @apply bg-red-500 text-white;
    }

  }

}

.bus-container {
  @apply h-full w-1/3;
  .bus {
    @apply  border rounded border-gray-400 bg-gray-200 h-full;

    &__cockpit {
      @apply p-5;
    }

  }
}


